
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playpen Sans', sans-serif;
    color: #fff; 
    line-height: 1.6;
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/A_black_background.jpg/640px-A_black_background.jpg') no-repeat center center fixed;
    background-size: cover;
}


header {
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}


section {
    padding: 1rem 0;
    color: #fff; 
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

section p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

/* Portfolio */
.portfolio-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    transition: transform 0.2s ease;
}

.portfolio-item:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    opacity: 0;
    transition: opacity 0.2s ease;
    margin-left:15px;
}

.portfolio-item:hover .overlay {
    opacity: 1;
}

.overlay h3, .overlay p {
    margin: 0;
}

.overlay .more-details {
    display: block; 
    color: #a020f0;
    text-decoration: none;
    font-weight: bold;
    margin-top: 0.5rem; 
    margin-left:700px;
}

.overlay .more-details:hover {
    text-decoration: underline;
}


.btn {
    background-color: #000;
    color: #a020f0; 
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 25px; 
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
}

.btn:hover {
    background-color: #333; 
    color: #d8a0f0; 
}


form {
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-top: 1rem;
}

form input, form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #222;
    color: #fff; 
}

form button {
    background: #000; 
    color: #a020f0; 
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 25px; 
    margin-top: 1rem;
    font-size: 1rem;
}

form button:hover {
    background: #333; 
    color: #d8a0f0; 
}

footer {
    background: #2a1649; 
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}


